.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__info {
  padding-left: 47px;
}

.tour__more {
  font-weight: 400;
  font-size: 16px;
  padding-right: 58px;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
  text-decoration: none;
  background: url(../../assets/svg/arrow-right-icon.svg) no-repeat right center;
}

@media screen and (max-width: 960px) {
  
  .tours__tour {
    grid-column-gap: 35px;
  }

  .tour__info {
    padding-left: 0;
  }

  .tour__title, .tour__desc {
    margin-bottom: 15px;
  }

}

@media screen and (max-width: 629px) {

  .tour__pic, .tour__info {
    grid-column: span 2;
  }

  .tour__pic {
    margin-bottom: 10px;
  }

  .tours__tour {
    margin-bottom: 40px;
  }

  .tour__pic_mob-first{
    grid-row-start: -1;
  }

  .tours {
    margin-bottom: 100px;
  }
}


